:root {
    --bg-color: #121214;
    --primary-color: #42D3FF;
    --text-color: #FFF;
    --font-family: 'Roboto', sans-serif;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--bg-color);
    color: var(--text-color);
    display: grid;
    min-height: 100vh;
}

main {
    align-self: end;
    justify-self: center;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button svg {
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

#timer {
    font-size: clamp(4rem, 8.8rem + 10vw, 8.8rem);
    display: flex;
    margin-bottom: 1.6rem;
}

#controls {
    background: rgba(66, 211, 255, .13);
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 100rem;
    gap: 3.2rem;
    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

footer {
    align-self: end;
    justify-self: end;
    padding: 0 4rem 3.2rem 0;
}

.hide {
    display: none;
}